<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}?ver={{ data.css_version }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/all.min.css') }}">
    <title>My App for Testing Kubernetes Deployments</title>
</head>

<body>
<nav class="navbar fixed-top navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">
        <i class="fab fa-docker"></i>&nbsp;&nbsp;Demo Application <small class="text-muted">(Build #{{ data.build_number }})</small>
    </span>
</nav>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hello!</h1>
        <p class="lead">Hostname (Container-ID): {{ data.hostname }}</p>
        <p>Client-IP: {{ data.client_ip }}</p>
        {% if data.x_forwarded_ip != '0' %}
            <p><i class="fas fa-exclamation-circle"></i> DONE: HAPROXY Loadbalancer configuration with proxy-protocol is now working.</p>

            <p><i class="fas fa-exclamation-circle"></i> A load balancer seems to hide the original IP, <br>but we find it in
                HTTP_X_FORWARDED_FOR: {{ data.x_forwarded_ip }}</p>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            <p class="mb-1"><i class="fab fa-python"></i>&nbsp;&nbsp;Python</p>
            <div class="progress mb-3">
                <div class="progress-bar bg-success" role="progressbar" style="width: 80%"
                     aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
             <p class="mb-1"><i class="fas fa-terminal"></i>&nbsp;&nbsp;Shell</p>
            <div class="progress mb-3">
                <div class="progress-bar bg-success" role="progressbar" style="width: 90%"
                     aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
             <p class="mb-1"><i class="fab fa-linux"></i>&nbsp;&nbsp;<i class="fab fa-suse"></i>&nbsp;&nbsp;<i class="fab fa-redhat"></i>&nbsp;&nbsp;<i class="fab fa-ubuntu"></i>&nbsp;&nbsp;Linux</p>
            <div class="progress mb-3">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
             <p class="mb-1"><i class="fab fa-jenkins"></i>&nbsp;&nbsp;Jenkins</p>
            <div class="progress mb-3">
                <div class="progress-bar bg-success" role="progressbar" style="width: 75%"
                     aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
             <p class="mb-1"><i class="fab fa-docker"></i>&nbsp;&nbsp;<i class="fas fa-dharmachakra"></i>&nbsp;&nbsp;Container technologies</p>
            <div class="progress mb-3">
                <div class="progress-bar bg-success" role="progressbar" style="width: 90%"
                     aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

        </div>
        <div class="col">
            <p class="mb-1"><i class="fab fa-html5"></i>&nbsp;&nbsp;HTML</p>
            <div class="progress mb-3">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 90%"
                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="mb-1"><i class="fab fa-css3"></i>&nbsp;&nbsp;CSS</p>
            <div class="progress mb-3">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 90%"
                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="mb-1"><i class="fab fa-js"></i>&nbsp;&nbsp;Javascript</p>
            <div class="progress mb-3">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 75%"
                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
        <a class="btn btn-primary mb-1" data-toggle="modal" data-target="#python_ver" href="#" role="button"
           aria-expanded="false"
           aria-controls="modalPython">
            <i class="far fa-window-restore"></i> Python Version
        </a>
        <a class="btn btn-primary mb-1" data-toggle="collapse" href="#os_env" role="button" aria-expanded="false"
           aria-controls="collapseExample">
            <i class="far fa-list-alt"></i> OS Variables
        </a>
        <a class="btn btn-primary mb-1" data-toggle="collapse" href="#req_env" role="button" aria-expanded="false"
           aria-controls="collapseExample">
            <i class="far fa-list-alt"></i> Request Variables
        </a>
        <a class="btn btn-primary mb-1" data-toggle="collapse" href="#headers" role="button" aria-expanded="false"
           aria-controls="collapseExample">
            <i class="far fa-list-alt"></i> Headers
        </a>
            </div>
    </div>
    <div class="modal fade" id="python_ver" tabindex="-1" role="dialog" aria-labelledby="modalPython"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="python_ver">Python version</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{ data.python_version }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse" id="os_env">
        <h4>OS Environment Variables</h4>

        <table class="table table-sm table-hover">
            <tbody>
            {% for k,v in data.os_env|dictsort %}
                <tr>
                    <td>{{ k }}</td>
                    <td> {{ v }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="collapse" id="req_env">
        <h4>Request Environment Variables</h4>

        <table class="table table-sm table-hover">
            <tbody>
            {% for k,v in data.request_env|dictsort %}
                <tr>
                    <td>{{ k }}</td>
                    <td> {{ v }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="collapse" id="headers">
        <h4>Request Headers</h4>

        <table class="table table-sm table-hover">
            <tbody>
            {% for k,v in data.headers|dictsort %}
                <tr>
                    <td>{{ k }}</td>
                    <td> {{ v }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>